// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.eot');
    src: url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Book.woff2') format('woff2'),
        url('../fonts/CircularStd-Book.woff') format('woff'),
        url('../fonts/CircularStd-Book.ttf') format('truetype'),
        url('../fonts/CircularStd-Book.svg#CircularStd-Book') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.eot');
    src: url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CircularStd-Bold.woff2') format('woff2'),
        url('../fonts/CircularStd-Bold.woff') format('woff'),
        url('../fonts/CircularStd-Bold.ttf') format('truetype'),
        url('../fonts/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Medium.eot');
    src: url('../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Medium.woff2') format('woff2'),
        url('../fonts/AvenirNext-Medium.woff') format('woff'),
        url('../fonts/AvenirNext-Medium.ttf') format('truetype'),
        url('../fonts/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBoldItalic.eot');
    src: url('../fonts/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-DemiBoldItalic.woff2') format('woff2'),
        url('../fonts/AvenirNext-DemiBoldItalic.woff') format('woff'),
        url('../fonts/AvenirNext-DemiBoldItalic.ttf') format('truetype'),
        url('../fonts/AvenirNext-DemiBoldItalic.svg#AvenirNext-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Demi';
    src: url('../fonts/AvenirNext-DemiBold.eot');
    src: url('../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-DemiBold.woff2') format('woff2'),
        url('../fonts/AvenirNext-DemiBold.woff') format('woff'),
        url('../fonts/AvenirNext-DemiBold.ttf') format('truetype'),
        url('../fonts/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Italic.eot');
    src: url('../fonts/AvenirNext-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Italic.woff2') format('woff2'),
        url('../fonts/AvenirNext-Italic.woff') format('woff'),
        url('../fonts/AvenirNext-Italic.ttf') format('truetype'),
        url('../fonts/AvenirNext-Italic.svg#AvenirNext-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNext-Regular.woff') format('woff'),
        url('../fonts/AvenirNext-Regular.ttf') format('truetype'),
        url('../fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-BoldItalic.eot');
    src: url('../fonts/AvenirNext-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-BoldItalic.woff2') format('woff2'),
        url('../fonts/AvenirNext-BoldItalic.woff') format('woff'),
        url('../fonts/AvenirNext-BoldItalic.ttf') format('truetype'),
        url('../fonts/AvenirNext-BoldItalic.svg#AvenirNext-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('../fonts/AvenirNext-UltraLightItalic.eot');
    src: url('../fonts/AvenirNext-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-UltraLightItalic.woff2') format('woff2'),
        url('../fonts/AvenirNext-UltraLightItalic.woff') format('woff'),
        url('../fonts/AvenirNext-UltraLightItalic.ttf') format('truetype'),
        url('../fonts/AvenirNext-UltraLightItalic.svg#AvenirNext-UltraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Bold.eot');
    src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
        url('../fonts/AvenirNext-Bold.woff') format('woff'),
        url('../fonts/AvenirNext-Bold.ttf') format('truetype'),
        url('../fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Heavy.eot');
    src: url('../fonts/AvenirNext-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirNext-Heavy.woff') format('woff'),
        url('../fonts/AvenirNext-Heavy.ttf') format('truetype'),
        url('../fonts/AvenirNext-Heavy.svg#AvenirNext-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Ultra';
    src: url('../fonts/AvenirNext-UltraLight.eot');
    src: url('../fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-UltraLight.woff2') format('woff2'),
        url('../fonts/AvenirNext-UltraLight.woff') format('woff'),
        url('../fonts/AvenirNext-UltraLight.ttf') format('truetype'),
        url('../fonts/AvenirNext-UltraLight.svg#AvenirNext-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-HeavyItalic.eot');
    src: url('../fonts/AvenirNext-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-HeavyItalic.woff2') format('woff2'),
        url('../fonts/AvenirNext-HeavyItalic.woff') format('woff'),
        url('../fonts/AvenirNext-HeavyItalic.ttf') format('truetype'),
        url('../fonts/AvenirNext-HeavyItalic.svg#AvenirNext-HeavyItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-MediumItalic.eot');
    src: url('../fonts/AvenirNext-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirNext-MediumItalic.woff2') format('woff2'),
        url('../fonts/AvenirNext-MediumItalic.woff') format('woff'),
        url('../fonts/AvenirNext-MediumItalic.ttf') format('truetype'),
        url('../fonts/AvenirNext-MediumItalic.svg#AvenirNext-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

// Variables
@import 'variables';

// Tablesort
@import 'tablesort';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.cosainto-gradient {
  background-image: linear-gradient(to right, $cosainto-gradient-left , $cosainto-gradient-right);
}

.cosainto-secondary-btn {
    &:hover {
        background-color: darken( $white, 10% );
    }
}

.navbar-brand {
  font-size: 2em;
  line-height: initial;
}

.tagline {
  font-size: 0.7rem;
  color: $dark-grey;
  display: block;
}

.dashboard-stats {
  font-size: 2em;
}

.btn {
  box-shadow: 0 2px 3px rgba(50,50,93,.3),
              0 1px 3px rgba(0,0,0,.5);
}

.home-hero {
  background-image: url('images/curve.svg');
  background-size: cover;
  background-position: center bottom;
  height: 80vh;
  min-height: 500px;
  color: $white;


}

ul, ol {
  padding-left: 20px;
}

h1, h2 {
  font-weight: bold;
  font-size: 48px
}

header {
  font-family: $headings-font-family;

  p {
    color: $teal;
    font-size: 36px;
    font-weight: normal;
  }
}

.upload-label {
    cursor: pointer;
    width: 100%;
}

button.upload-csv {
    display: none;
}

input#transactions {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.transactions-error {
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
    display: block;
    text-align: right;
}

.upload-container {
    width: 300px;

    button {
        width: 100%;
    }
}

.alert.additional-data {
    display: none;

    a {
        text-decoration: underline;
    }
}

.transaction-buttons {
    a {
        width: 250px;
    }
}

.address-column {
    p {
        margin-bottom: 0;
    }
}

// Stripe payment styling
#payment-form {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;

  label {
    text-align: left;
  }
}

#payment-form * {
  font-family: CircularStd, monospace;
  font-size: 16px;
  font-weight: 500;
}

#payment-form .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
  margin-bottom: 20px;
}

#payment-form .field {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 10px;
}

#payment-form .field.half-width {
  width: 50%;
}

#payment-form .field.quarter-width {
  width: calc(20% - 10px);
}

#payment-form .baseline {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 0;
  background-color: #cfd7df;
  transition: background-color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#payment-form label {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 8px;
  color: #cfd7df;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transform-origin: 0 50%;
  cursor: text;
  pointer-events: none;
  transition-property: color, transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

#payment-form .input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  color: #32325d;
  background-color: transparent;
}

#payment-form .input::-webkit-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#payment-form .input::-moz-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#payment-form .input:-ms-input-placeholder {
  color: transparent;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#payment-form .input.StripeElement {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity;
}

#payment-form .input.focused,
#payment-form .input:not(.empty) {
  opacity: 1;
}

#payment-form .input.focused::-webkit-input-placeholder,
#payment-form .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

#payment-form .input.focused::-moz-placeholder,
#payment-form .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

#payment-form .input.focused:-ms-input-placeholder,
#payment-form .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

#payment-form .input.focused + label,
#payment-form .input:not(.empty) + label {
  color: #aab7c4;
  transform: scale(0.85) translateY(-25px);
  cursor: default;
}

#payment-form .input.focused + label {
  color: #24b47e;
}

#payment-form .input.invalid + label {
  color: #ffa27b;
}

#payment-form .input.focused + label + .baseline {
  background-color: #24b47e;
}

#payment-form .input.focused.invalid + label + .baseline {
  background-color: #e25950;
}

#payment-form input, #payment-form button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

#payment-form input:-webkit-autofill {
  -webkit-text-fill-color: #e39f48;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

#payment-form .StripeElement--webkit-autofill {
  background: transparent !important;
}

#payment-form input, #payment-form button {
  -webkit-animation: 1ms void-animation-out;
}

#payment-form button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

#payment-form .error svg {
  margin-top: 0 !important;
}

#payment-form .error svg .base {
  fill: #e25950;
}

#payment-form .error svg .glyph {
  fill: #fff;
}

#payment-form .error .message {
  color: #e25950;
}

#payment-form .success .icon .border {
  stroke: #abe9d2;
}

#payment-form .success .icon .checkmark {
  stroke: #24b47e;
}

#payment-form .success .title {
  color: #32325d;
  font-size: 16px !important;
}

#payment-form .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

#payment-form .success .reset path {
  fill: #24b47e;
}

.disclaimer {
  font-size: 14px !important;
}

.StripeElement {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

.transaction-notes {
  textarea {
    width: 100%;
  }

  button {
    width: 100%;
  }
}

.doc-upload {
  max-width: 300px;
}

.mdi-close {
  text-decoration: underline;
}

.transaction-docs {
  display: inline-block;
}